html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


     





body {
    font-family: Inter, Arial, sans-serif;
    background-color: #1B2316;
    color: white;
    background-image: url('../images/tree_peground.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 13px;
    text-decoration: none;
}
.hero__content {
    position: relative;
    z-index: 1;

}
.header__texts{
    color: white;
    padding: 80px 57px 0 57px;
}
.header__text{
    font-size: 128px;
    font-weight: 600;
    opacity: 75%;
}
.header_tekst{
    font-size: 23px;
    font-weight: 500;
    max-width: 893px;
    opacity: 75%;
}
.header__logo-text {
    font-weight: 900;
    color: white;
    font-size: 28px;
    line-height: auto;
}
.header__button {
    padding: 48px 57px;
    display: flex;
    gap: 32px;
    align-items: center; 
    /*gap: 16px;*/           
}     
.header__explore{
    background: transparent;
    color: white;
    font-size: 28px;
    font-weight: 400;
    padding: 15px 59px;
    border-radius: 10px;
    border: 1px solid white;
    height: max-content;
    opacity: 75%;
}
.live-demo-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    opacity: 75%;
}

.header_livedemo {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.demo-text {
    color: white;
    font-size: 20px;  
    font-family: sans-serif;     
    white-space: nowrap;   
}
.header_livedemo img {
    width: 30px;
    height: 30px;
    display: block;
    margin-left: 5px; 
}

.right-card {
    display: flex;
    justify-content: flex-end;
    padding: 0 57px;
    margin-top: 60px;
}
.product__image {
    display: block;
    width: 100%;
    /* top: -113px; */
    left: auto;
    right: auto;
}   

.product-card {
    max-width: 459px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 70px;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    margin-top: 60px;  
    padding: 80px 70px;
    padding-top: 0;
    padding-right: 32px;
}


.product__right {
    max-width: 459px;
    text-align: left;
}

.product__image {
    display: block;
    width: 100%;
    margin-top: -113px;  
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
    min-width: 459px;
}

.product__subtitle {
    font-size: 23px;
    font-weight: 400;
    color: white;
    margin-bottom: 8px;
}

.product__title {
    font-size: 38px;
    font-weight: 400;
    display: inline-block;  
    margin-top: 20px;
    margin-bottom: 20px;
}

.product__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
     margin-bottom: 20px;
    /*gap: 10px;
    flex-direction: row;  */
}

.product__action {
    display: flex;
    align-items: center;
    gap: 20px;
}

.product__buy {
    background: transparent;
    color: white;
    font-size: 28px;
    font-weight: 400;
    text-decoration: none;
    padding: 12px 32px;
    border: 1px solid white;
    border-radius: 10px;
}

.product__buy:hover {
    background: white;
    color: #1B2316;
}

.product__arrow {
    background: transparent;
    border: none;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}


.testimonial{
    padding: 60px 57px;
}
.testimonial-card{
    max-width: 400px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 60px;
    padding: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 45px 40px;
    padding-right: 28px;
}
.testimonial-row {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 30px;      
    margin-bottom: 15px;
}
.testimonial__avatar{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.testimonial__name{
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 8px 0;
}
.testimonial__stars {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
    margin-left: 0;
    padding-left: 100px;
    margin-top: -35px;
}
.testimonial__text {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.3;
    color: white;
    opacity: 75%;
    
}


.trendy-section {
     padding: 80px 57px;
}
.trendy-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.trendy-title {
    font-size: 55px;
    font-weight: 600;
    text-align: center;
    color: white;
}
.product_card{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 170px;
    border: 1px solid rgba(255, 255, 255, 0.1); 
    padding: 3px;
    margin: 45px ;
    
     
}

.product_image{
    margin-top: -209px;
    width: 631px;
    height: 732px;
    object-fit: cover;
    border-radius: 16px;
    
    padding-left: 0;
    padding-left: 35px;
}
.product_content {
    flex: 1;
}
.product_zag{
    padding: 24px 218px;
    font-size: 38px;
    font-weight: 600;
    
}
.product_description{
    padding: 24px 218px;
    max-width: 732px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}
.product-price{
    padding: 24px 218px;
    font-size: 38px;
    font-weight: 600;
}
.product_buttons {
    padding: 24px 218px;
    display: flex;
    align-items: center;
    gap: 32px;  
}
.product-explore{
    text-decoration: none;
    background: transparent;
    color: white;
    font-size: 28px;
    font-weight: 500;
    padding: 15px 59px;
    border-radius: 10px;
    border: 3px solid white;
    height: max-content;
}
.product_bag {
    width: 34px;
    height: 34px;
    list-style: none; 
    border: 3px solid white;
    border-radius: 8px;
    padding: 10px;
}


.header__items {    
    display: flex;
    gap: 59px;
}
.header__items a {
    color: white;
    font-weight: 500;
    font-size: 24px;
    line-height: auto;
    text-decoration: none;
    font-family: Inter, Arial, sans-serif;
}
.header__icons {
    display: flex;
    gap: 59px;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 90px 62px;
    background-color: #1B2316;
}
.footer a {
    color: white;
    text-decoration: none;
}
.footer__logo{
    display: flex;
    align-items: center;
    gap: 13px;
    text-decoration: none;
}
.footer__logo-text{
    font-weight: 900;
    color: white;
    font-size: 58px;
    line-height: auto;
}
.footer__text{
    font-weight: 500;
    color: white;
    font-size: 28px;
    max-width: 580px;
    margin-top: 43px;
    line-height: 1.3;
}
.footer__langs{
    display: flex;
    gap: 61px; 
    margin-top: 119px;
    /*font-size: 28px;
    font-weight: 800;*/
}
.footer__lang{
    font-weight: 800;
    font-size: 28px;
    color: white;
    background: transparent;
    border: none;
}
.footer__menu{
    font-weight: 800;
    font-size: 28px;
    color: white;
  
}
.footer__items{
    font-weight: 500;
    font-size: 24px;
    color: white;
    
}
.footer__item{
    margin-top: 26px;
}
.footer__item:first-of-type{
    margin-top: 46px;
}

.footer__update{
    font-weight: 800;
    font-size: 28px;
    color: white;
}
.button_subscribe{
    font-weight: 700;
    font-size: 22px;
    color: black;
    border-radius: 10px;
    border: 0;
    margin: 2px;
    padding: 18.45px 20px;

}
.footer__form{
    margin-top: 50px;
    border: 2px solid white;
    display: flex;
    border-radius: 10px;
}
.input_subscribe{
    display: flex;
    width: 100%;
    background: transparent;
    border: 0;
    font-size: 24px;
    font-weight: 500;
    padding: 22px 23px;
    color: white;
}

.footer__planto{
    font-weight: 500;
    font-size: 24;
    color: white;
    margin-top: 205px;
}